<table>
    <tr>
        <td rowspan="2"><button>Start match</button></td>
        <td><select name="" id="">
            <option value="">Team1</option>
            <option value="">Team2</option>
            </select>
        </td>
    </tr>
    <tr>

        <td><select name="" id="">
            <option value="">Player1</option>
            <option value="">Player2</option>
        </select></td>
    </tr>
    <tr>
        <td><button (click)="ResumePause()" [innerHtml]="resumetext">Pause match</button></td>
        <td><img src="https://jwatt.org/svg/tmp/embedded-sizing/embedded-px-px.png" alt="" ></td>
    </tr>
    <tr>
        <td rowspan="2"><button>Stop match</button></td>
        <td><p>Name </p></td>
    </tr>
    <tr>

        <td><button>Update</button></td>
    </tr>
</table>
