<main>
    <div>
        <table>
            <tr>
                <th colspan="2">
                    <img [src]="photoicon" alt="" height="150px"    >
                </th>
            </tr>
            <tr>
                <td>Player name:</td>
                <td><p>test name</p></td>
            </tr>
            <tr>
                <td>Team Name:</td>
                <td><p>testname</p></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><p>20</p></td>
            </tr>
            <tr>
                <td>Highest swing speed</td>
                <td><p>test speed</p></td>
            </tr>
            <tr>
                <td>Average swing speed</td>
                <td><p>test speed</p></td>
            </tr>
            <tr>
                <td>total hits</td>
                <td><p>20</p></td>
            </tr>
            <tr>
                <td>Average hits per game</td>
                <td><p>20</p></td>
            </tr>
        </table>
    </div>
    <div>
        <img [src]="graphicon" alt="">
    </div>
    <div >
        <img style="margin-top: 10%;" width="100%" [src]="floorballmap" alt="">
    </div>
</main>