<main>
    <div>
        <img [src]="photoicon" alt="" width="auto" height="200px">
        <table>
            <tr>
                <th colspan="2" >Player information</th>
            </tr>
            <tr>
                <td>Player name:</td>
                <td><p>test name</p></td>
            </tr>
            <tr>
                <td>Team Name:</td>
                <td><p>testname</p></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><p>20</p></td>
            </tr>
        </table>
    </div>
    <div>
        <select name="" id="teamselect" >
            <option selected="selected">Select your team</option>
            <option value="">team1</option>
            <option value="">team2</option>
            
        </select>
        <select name="" id="" >
            <option selected="selected">Select your player</option>
            <option value="">Player1</option>
            <option value="">Player2</option>
            
        </select>
    </div>
    <div>
        <table>
            <tr>
                <th colspan="2">Player stats</th>
            </tr>
            <tr>
                <td>Highest swing speed</td>
                <td><p>test speed</p></td>
            </tr>
            <tr>
                <td>Average swing speed</td>
                <td><p>test speed</p></td>
            </tr>
            <tr>
                <td>total hits</td>
                <td><p>20</p></td>
            </tr>
            <tr>
                <td>Average hits per game</td>
                <td><p>20</p></td>
            </tr>
        </table>
    </div>
</main>
<h2 style="text-align: center;">Player evolution</h2>
<main>
    <div><img [src]="graphicon" alt=""></div>
    <div><img [src]="graphicon" alt=""></div>
    <div><img [src]="graphicon" alt=""></div>
</main>