

<p style="text-align: right;">Input Date: <input type="date" name="" id=""></p>

<br>

<main>
    <div>
        <img [src]="graphicon" alt="">
        <p>Graphs</p>
    </div>
    <div>
        <p> Search <input type="text" name="" id=""></p>
        
        <table id="match">
            <tr>
                <th>Team</th>
                <th>Name</th>
                <th>Shots</th>
                <th>Average shot speed</th>
            </tr>
            <tr>
                <td>Tea</td>
                <td>Name</td>
                <td>Shots</td>
                <td>Average shot speed</td>
            </tr>
            <tr>
                <td>Team</td>
                <td>Name</td>
                <td>Shots</td>
                <td>Average shot speed</td>
            </tr>
            <tr>
                <td>Team</td>
                <td>Name</td>
                <td>Shots</td>
                <td>Average shot speed</td>
            </tr>
        </table>

    </div>
</main>