

<p style="text-align: right;">Input Date: <input type="date" name="" id=""></p>

<br>

<main>
    <div>
        <img [src]="graphicon" alt="">
        <p>Graphs</p>
    </div>
    <div>
        <p> Search <input type="text" name="" id=""></p>
        
        <table id="match">
            <tr>
                <th>Start hour</th>
                <th>Date </th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Match link</th>
            </tr>
            <tr *ngFor="let match of matcheslijst">
                <td>{{match.start | date : 'h:mm a'}}</td>
                <td>{{match.start | date : 'MMMM d, y'}}</td>
                <td>{{match.teams[0]}}</td>
                <td>{{match.teams[1]}}</td>
                <td><button (click)="viewmatch(1)">View match</button></td>
            </tr>
        </table>

    </div>
</main>